---
import LogoPavir from "../assets/logos/logo-pavir.webp";
import LogoMuchtek from "../assets/logos/logo-muchtek.webp";
import LogoGuHerrajes from "../assets/logos/logo-gu-herrajes.webp";
import LogoAssaabloy from "../assets/logos/logo-assaabloy.webp";
import LogoRoto from "../assets/logos/logo-roto.webp";
import LogoAluar from "../assets/logos/logo-aluar.webp";
import LogoGiesse from "../assets/logos/logo-giesse.webp";
import LogoTanit from "../assets/logos/logo-tanit.webp";
---

<section class='mb-14'>
  <h2 class='text-center text-gray-600 text-[1.5rem] font-bold mb-7'>
    Nuestros proveedores
  </h2>
  <div
    class='suppliers-container flex justify-center items-center gap-4 sm:gap-14 flex-wrap'
  >
    <a href='https://pavir.com.ar/' target='_blank'>
      <img src={LogoPavir.src} alt='Logo 1' class='supplier-image border' />
    </a>
    <a
      href='https://muchtek.com/muchtek/?gad_source=1&gclid=EAIaIQobChMI3ZvrrKTyhQMV54bCCB0zpQ0nEAAYASAAEgL3APD_BwE'
      target='_blank'
    >
      <img src={LogoMuchtek.src} alt='Logo 2' class='supplier-image border' />
    </a>
    <a href='https://www.gu-herrajes.com.ar/' target='_blank'>
      <img
        src={LogoGuHerrajes.src}
        alt='Logo 3'
        class='supplier-image border'
      />
    </a>
    <a href='https://www.assaabloy.com/es/es' target='_blank'>
      <img src={LogoAssaabloy.src} alt='Logo 4' class='supplier-image border' />
    </a>
    <a href='https://www.roto-click.com/' target='_blank'>
      <img src={LogoRoto.src} alt='Logo 5' class='supplier-image border' />
    </a>
    <a href='https://www.aluar.com.ar/' target='_blank'>
      <img src={LogoAluar.src} alt='Logo 5' class='supplier-image border' />
    </a>
    <a href='https://www.giesse.it/es/' target='_blank'>
      <img src={LogoGiesse.src} alt='Logo 6' class='supplier-image border' />
    </a>
    <a href='http://www.tanit.com.ar/' target='_blank'>
      <img src={LogoTanit.src} alt='Logo 7' class='supplier-image border' />
    </a>
  </div>
</section>

<style>
  .suppliersContainer {
    opacity: 0;
  }

  .supplier-image {
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    width: 100px;
    filter: grayscale(100%);
    opacity: 0.8;
  }

  .supplier-image:hover {
    filter: grayscale(0);
    opacity: 1;
  }

  @keyframes animate-fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 0.8;
      transform: translateY(0);
    }
  }
</style>

<script>
  const suppliersContainer = document.querySelector(".suppliers-container");

  const suppliersObserver = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        suppliersContainer.classList.add("animate-fade-in-down");

        observer.unobserve(suppliersContainer);
      }
    });
  });

  suppliersObserver.observe(suppliersContainer);
</script>
