---
import PvcImage from "../assets/images/typePvc.png";
import AluminumImage from "../assets/images/typeAluminum.png";
import WoodImage from "../assets/images/typeWood.png";
import PvcTexture from "../assets/images/pvc-texture.avif";
import AluminumTexture from "../assets/images/aluminum-texture.avif";
import WoodTexture from "../assets/images/wood-texture.avif";
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const materialWindows = document.querySelectorAll(".material-window");
    const sections = document.querySelectorAll(".behind-window-sections p");
    const contentSections = {
      imageSectionPVC: document.getElementById("imageContentPVC"),
      advantageSectionPVC: document.getElementById("advantageContentPVC"),
      descriptionSectionPVC: document.getElementById("descriptionContentPVC"),
      imageSectionAluminum: document.getElementById("imageContentAluminum"),
      advantageSectionAluminum: document.getElementById(
        "advantageContentAluminum"
      ),
      descriptionSectionAluminum: document.getElementById(
        "descriptionContentAluminum"
      ),
      imageSectionWood: document.getElementById("imageContentWood"),
      advantageSectionWood: document.getElementById("advantageContentWood"),
      descriptionSectionWood: document.getElementById("descriptionContentWood"),
    };

    materialWindows.forEach((window) => {
      window.addEventListener("click", () => {
        if (window.classList.contains("open")) {
          window.classList.remove("open");
          window.classList.add("close");
        } else {
          materialWindows.forEach((window) => {
            window.classList.remove("open");
          });
          window.classList.add("open");
          window.classList.remove("close");
        }
      });
    });

    function toggleClassesAndRenderContent(event) {
      const targetElement = event.target;
      const targetMaterial = targetElement.id.split("Section")[1];

      const sectionParent = targetElement.closest(".behind-window-sections");
      const siblingSections = sectionParent.querySelectorAll("p");
      siblingSections.forEach((section) => {
        section.classList.remove("selected");
        section.classList.add("non-selected");
      });

      for (const key in contentSections) {
        if (
          Object.prototype.hasOwnProperty.call(contentSections, key) &&
          key.includes(targetMaterial)
        ) {
          const element = contentSections[key];
          element.classList.add("hidden");
        }
      }

      targetElement.classList.remove("non-selected");
      targetElement.classList.add("selected");

      const sectionId = targetElement.id;
      contentSections[sectionId].classList.remove("hidden");
    }

    sections.forEach((section) => {
      section.addEventListener("click", toggleClassesAndRenderContent);
    });
  });
</script>

<div class='w-[100%] md:w-[97%] m-auto'>
  <h1
    class='text-base text-center md:text-lg uppercase bg-[#862e44] text-white p-3 mb-8 lg:mb-16 2xl:text-xl'
  >
    Explora nuestras aberturas
  </h1>
  <section
    class='w-[100%] flex flex-col justify-around items-center gap-7 md:px-7 md:flex-row xl:gap-9 flex-wrap'
  >
    <div class='relative'>
      <div
        class='material-window animate-fade-in'
        style={{ borderImage: `url(${PvcTexture.src}) 30 repeat` }}
      >
        <div class='help-text'>Presiona para abrir</div>
        <div class='hinges-div'>
          <div
            class='hinge-top'
            style={{ backgroundImage: `url(${PvcTexture.src})` }}
          >
          </div>
          <div
            class='hinge-bottom'
            style={{ backgroundImage: `url(${PvcTexture.src})` }}
          >
          </div>
        </div>
        <div
          class='window-opener-base'
          style={{ backgroundImage: `url(${PvcTexture.src})` }}
        >
        </div>
        <div
          class='window-opener'
          style={{ backgroundImage: `url(${PvcTexture.src})` }}
        >
        </div>
        <div class='material-content relative'>
          <h3
            class='text-sm p-3 border border-[#862e44] font-[900] sm:text-xl lg:text-2xl absolute top-0 right-0 text-[#862e44] flex items-center select-none'
          >
            PVC
          </h3>
        </div>
      </div>

      <div
        class='border-x-[8px] border-y-[10px] behind-window-info p-4 absolute top-0 left-0 w-full h-full flex flex-col items-center animate-blurred-fade-in'
        style={{ borderImage: `url(${PvcTexture.src}) 30 repeat` }}
      >
        <div class='behind-window-sections mb-3'>
          <p class='show-image selected' id='imageSectionPVC'>Interior</p>
          <p class='show-description non-selected' id='descriptionSectionPVC'>
            Descripción
          </p>
          <p class='show-advantage non-selected' id='advantageSectionPVC'>
            Ventajas
          </p>
        </div>
        <img
          src={PvcImage.src}
          alt='Imagen de PVC'
          loading='lazy'
          class='w-[85%] md:w-[100%] object-cover show'
          id='imageContentPVC'
        />
        <div
          class='h-[100%] overflow-y-scroll pb-2 sm:p-4 hidden'
          id='descriptionContentPVC'
        >
          <p
            class='text-sm lg:text-lg text-gray-600 text-center animate-fade-in-up'
          >
            El PVC es un material plástico muy utilizado en la fabricación de
            aberturas debido a su durabilidad y resistencia a la corrosión. Las
            aberturas de PVC son conocidas por su excelente aislamiento térmico
            y acústico, lo que las hace ideales para mantener el interior de los
            espacios confortables y protegidos del ruido exterior.
          </p>
        </div>
        <div
          class='flex-col justify-center h-[100%] overflow-y-scroll pb-2 sm:p-4 hidden'
          id='advantageContentPVC'
        >
          <div
            class='flex justify-between items-center gap-3 sm:gap-4 pb-4 border-b border-[#862e44]'
          >
            <h5 class='font-bold text-zinc-900 animate-fade-in-right'>
              Durabilidad
            </h5>
            <p class='text-sm text-gray-600 text-center animate-fade-in-left'>
              El PVC es muy resistente a la corrosión, lo que significa que dura
              mucho tiempo sin deteriorarse.
            </p>
          </div>
          <div
            class='flex justify-between items-center gap-3 sm:gap-4 py-4 border-b border-[#862e44]'
          >
            <p class='text-sm text-gray-600 text-center animate-fade-in-right'>
              ¿Sabías que el PVC se puede moldear fácilmente en diferentes
              formas y tamaños? Eso lo hace muy versátil para diferentes
              aplicaciones.
            </p>
            <h5 class='font-bold text-zinc-900 animate-fade-in-left'>
              Versatilidad
            </h5>
          </div>
          <div
            class='flex justify-between items-center gap-3 sm:gap-4 py-4 border-b border-[#862e44]'
          >
            <h5 class='font-bold text-zinc-900 animate-fade-in-right'>
              Aislante
            </h5>
            <p class='text-sm text-gray-600 text-center animate-fade-in-left'>
              El PVC tiene buenas propiedades tanto térmicas como eléctricas, lo
              que lo convierte en un excelente material para aislamientos.
            </p>
          </div>
          <div class='flex justify-between items-center gap-3 sm:gap-4 pt-4'>
            <p class='text-sm text-gray-600 text-center animate-fade-in-right'>
              Es autoextinguible, lo que significa que no contribuye a la
              propagación del fuego.
            </p>
            <h5 class='font-bold text-zinc-900 animate-fade-in-left'>
              Resistencia al fuego
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class='relative'>
      <div
        class='material-window animate-fade-in'
        style={{ borderImage: `url(${AluminumTexture.src}) 30 repeat` }}
      >
        <div class='help-text'>Presiona para abrir</div>
        <div class='hinges-div'>
          <div
            class='hinge-top'
            style={{ backgroundImage: `url(${AluminumTexture.src})` }}
          >
          </div>
          <div
            class='hinge-bottom'
            style={{ backgroundImage: `url(${AluminumTexture.src})` }}
          >
          </div>
        </div>
        <div
          class='window-opener-base'
          style={{ backgroundImage: `url(${AluminumTexture.src})` }}
        >
        </div>
        <div
          class='window-opener'
          style={{ backgroundImage: `url(${AluminumTexture.src})` }}
        >
        </div>
        <div class='material-content relative'>
          <h3
            class='text-sm p-3 border border-[#862e44] font-[900] sm:text-xl lg:text-2xl absolute top-0 right-0 text-[#862e44] flex items-center select-none'
          >
            Aluminio
          </h3>
        </div>
      </div>
      <div
        class='border-x-[8px] border-y-[10px] behind-window-info p-4 absolute top-0 left-0 w-full h-full flex flex-col items-center animate-blurred-fade-in'
        style={{ borderImage: `url(${AluminumTexture.src}) 30 repeat` }}
      >
        <div class='behind-window-sections mb-3'>
          <p class='show-image selected' id='imageSectionAluminum'>Interior</p>
          <p
            class='show-description non-selected'
            id='descriptionSectionAluminum'
          >
            Descripción
          </p>
          <p class='show-advantage non-selected' id='advantageSectionAluminum'>
            Ventajas
          </p>
        </div>
        <img
          src={AluminumImage.src}
          alt='Imagen de PVC'
          loading='lazy'
          class='w-[85%] md:w-[100%] object-cover show'
          id='imageContentAluminum'
        />
        <div
          class='h-[100%] overflow-y-scroll pb-2 sm:p-4 hidden'
          id='descriptionContentAluminum'
        >
          <p
            class='text-sm lg:text-lg text-gray-600 text-center animate-fade-in-up'
          >
            El aluminio es un material metálico ligero y resistente que se
            utiliza ampliamente en la fabricación de aberturas, especialmente en
            ventanas y puertas corredizas. Las aberturas de aluminio son
            duraderas, resistentes a la corrosión y ofrecen una estética moderna
            y elegante.
          </p>
        </div>
        <div
          class='flex-col justify-center h-[100%] overflow-y-scroll pb-2 sm:p-4 hidden'
          id='advantageContentAluminum'
        >
          <div
            class='flex justify-between items-center gap-3 sm:gap-4 pb-4 border-b border-[#862e44]'
          >
            <h5 class='font-bold text-zinc-900 animate-fade-in-right'>
              Durabilidad
            </h5>
            <p class='text-sm text-gray-600 text-center animate-fade-in-left'>
              El aluminio es resistente a la corrosión y tiene una larga vida
              útil.
            </p>
          </div>
          <div
            class='flex justify-between items-center gap-3 sm:gap-4 py-4 border-b border-[#862e44]'
          >
            <p class='text-sm text-gray-600 text-center animate-fade-in-right'>
              Es un material ligero pero robusto, lo que facilita su instalación
              y uso.
            </p>
            <h5 class='font-bold text-zinc-900 animate-fade-in-left'>
              Ligereza
            </h5>
          </div>
          <div
            class='flex justify-between items-center gap-3 sm:gap-4 py-4 border-b border-[#862e44]'
          >
            <h5 class='font-bold text-zinc-900 animate-fade-in-right'>
              Estética
            </h5>
            <p class='text-sm text-gray-600 text-center animate-fade-in-left'>
              Ofrece una apariencia moderna y elegante, adaptable a diferentes
              estilos arquitectónicos.
            </p>
          </div>
          <div class='flex justify-between items-center gap-3 sm:gap-4 pt-4'>
            <p class='text-sm text-gray-600 text-center animate-fade-in-right'>
              El aluminio es completamente reciclable, lo que lo convierte en
              una opción más sostenible.
            </p>
            <h5 class='font-bold text-zinc-900 animate-fade-in-left'>
              Reciclable
            </h5>
          </div>
        </div>
      </div>
    </div>

    <div class='relative'>
      <div
        class='material-window animate-fade-in'
        style={{ borderImage: `url(${WoodTexture.src}) 30 repeat` }}
      >
        <div class='help-text'>Presiona para abrir</div>
        <div class='hinges-div'>
          <div
            class='hinge-top'
            style={{ backgroundImage: `url(${WoodTexture.src})` }}
          >
          </div>
          <div
            class='hinge-bottom'
            style={{ backgroundImage: `url(${WoodTexture.src})` }}
          >
          </div>
        </div>
        <div
          class='window-opener-base'
          style={{ backgroundImage: `url(${WoodTexture.src})` }}
        >
        </div>
        <div
          class='window-opener'
          style={{ backgroundImage: `url(${WoodTexture.src})` }}
        >
        </div>
        <div class='material-content relative'>
          <h3
            class='text-sm p-3 border border-[#862e44] font-[900] sm:text-xl lg:text-2xl absolute top-0 right-0 text-[#862e44] flex items-center select-none'
          >
            Madera
          </h3>
        </div>
      </div>
      <div
        class='border-x-[8px] border-y-[10px] behind-window-info p-4 absolute top-0 left-0 w-full h-full flex flex-col items-center animate-blurred-fade-in'
        style={{ borderImage: `url(${WoodTexture.src}) 30 repeat` }}
      >
        <div class='behind-window-sections mb-3'>
          <p class='show-image selected' id='imageSectionWood'>Interior</p>
          <p class='show-description non-selected' id='descriptionSectionWood'>
            Descripción
          </p>
          <p class='show-advantage non-selected' id='advantageSectionWood'>
            Ventajas
          </p>
        </div>
        <img
          src={WoodImage.src}
          alt='Imagen de madera'
          loading='lazy'
          class='w-[85%] md:w-[100%] object-cover show'
          id='imageContentWood'
        />
        <div
          class='h-[100%] overflow-y-scroll pb-2 sm:p-4 hidden'
          id='descriptionContentWood'
        >
          <p
            class='text-sm lg:text-lg text-gray-600 text-center animate-fade-in-up'
          >
            Las aberturas de madera ofrecen un aspecto estético tradicional y
            cálido que las hace populares en muchos estilos arquitectónicos. La
            madera es un material natural que requiere un mantenimiento regular
            para protegerla de la humedad, los insectos y el deterioro.
          </p>
        </div>
        <div
          class='flex-col justify-center h-[100%] overflow-y-scroll pb-2 sm:p-4 hidden'
          id='advantageContentWood'
        >
          <div
            class='flex justify-between items-center gap-3 sm:gap-4 pb-4 border-b border-[#862e44]'
          >
            <h5 class='font-bold text-zinc-900 animate-fade-in-right'>
              Estética natural
            </h5>
            <p class='text-sm text-gray-600 text-center animate-fade-in-left'>
              Ofrecen una apariencia cálida y tradicional, añadiendo encanto a
              cualquier espacio.
            </p>
          </div>
          <div
            class='flex justify-between items-center gap-3 sm:gap-4 py-4 border-b border-[#862e44]'
          >
            <p class='text-sm text-gray-600 text-center animate-fade-in-right'>
              La madera es un buen aislante natural, proporcionando confort en
              términos de temperatura y reducción de ruido.
            </p>
            <h5 class='font-bold text-zinc-900 animate-fade-in-left'>
              Aislamiento térmico y acústico
            </h5>
          </div>
          <div
            class='flex justify-between items-center gap-3 sm:gap-4 py-4 border-b border-[#862e44]'
          >
            <h5 class='font-bold text-zinc-900 animate-fade-in-right'>
              Durabilidad
            </h5>
            <p class='text-sm text-gray-600 text-center animate-fade-in-left'>
              Con el cuidado adecuado, las aberturas de madera pueden tener una
              larga vida útil.
            </p>
          </div>
          <div
            class='flex justify-between items-center gap-3 sm:gap-4 py-4 border-b border-[#862e44]'
          >
            <p class='text-sm text-gray-600 text-center animate-fade-in-right'>
              Se pueden personalizar fácilmente en cuanto a diseño, forma y
              tamaño.
            </p>
            <h5 class='font-bold text-zinc-900 animate-fade-in-left'>
              Personalización
            </h5>
          </div>
          <div class='flex justify-between items-center gap-3 sm:gap-4 pt-4'>
            <h5 class='font-bold text-zinc-900 animate-fade-in-right'>
              Sostenibilidad
            </h5>
            <p class='text-sm text-gray-600 text-center animate-fade-in-left'>
              La madera es un material renovable y biodegradable, lo que la
              convierte en una opción más ecológica.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<style>
  .material-window {
    width: 290px;
    height: 220px;
    background-color: rgba(90, 156, 192, 0.1);
    backdrop-filter: blur(4px);
    border: 22px solid transparent;
    border-style: solid;
    border-radius: 1px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 50;
    padding: 20px;
    cursor: pointer;
    transition:
      width 0.3s ease-in-out,
      height 0.3s ease-in-out;
  }

  .help-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-weight: 300;
    background-color: #862e44;
    border-radius: 1px 1px 0 0;
    z-index: 100;
  }

  .hinges-div {
    position: absolute;
    left: -12%;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 8px;
    height: 80%;
  }

  .hinge-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 15px;
    border-radius: 2px 0 0 2px;
  }

  .hinge-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15px;
    border-radius: 2px 0 0 2px;
  }

  .window-opener-base {
    position: absolute;
    top: 48.5%;
    right: -20px;
    width: 14px;
    height: 22px;
    border-radius: 5px;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    z-index: 50;
  }

  .window-opener {
    position: absolute;
    top: 50%;
    right: -14px;
    width: 65px;
    height: 15px;
    border-radius: 1px 0 0 1px;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.8);
    z-index: 100;
  }

  .material-window:hover .window-opener {
    animation: putOpenerDown 0.5s ease-in-out both;
  }

  .material-window.open {
    transform-origin: left center;
    perspective: 1000px;
    transform-style: preserve-3d;
    animation: openWindow 1s ease-in-out both;
    transition: box-shadow 1s ease-in-out;
    box-shadow: none;
  }

  .material-window.close {
    transform-origin: left center;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: box-shadow 1s ease-in-out;
    animation: closeWindow 1s ease-in-out both;
  }

  .behind-window-info {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
  }

  .behind-window-sections {
    display: flex;
    gap: 20px;
  }

  .behind-window-sections p {
    position: relative;
    cursor: pointer;
    user-select: none;
    color: #862e44;
    padding: 4px;
    font-size: 0.9rem;
  }

  .behind-window-sections p.non-selected::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #862e44;
    transition:
      width 0.3s ease-in-out,
      left 0.3s ease-in-out;
  }

  .behind-window-sections p.non-selected:hover::after {
    left: 0;
    width: 100%;
  }

  .behind-window-sections p.selected {
    cursor: default;
    background-color: whitesmoke;
    border-bottom: 2px solid #862e44;
  }

  @media screen and (min-width: 640px) {
    .material-window {
      width: 400px;
      height: 300px;
      border: 26px solid transparent;
    }

    .window-opener-base {
      width: 16.5px;
      height: 28px;
      top: 48.3%;
      right: -23px;
    }

    .window-opener {
      width: 75px;
      height: 18px;
      right: -18px;
    }

    .hinges-div {
      left: -10%;
      width: 12px;
    }

    .hinge-top {
      height: 20px;
    }

    .hinge-bottom {
      height: 20px;
    }

    .behind-window-sections p {
      font-size: 1rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .material-window {
      width: 500px;
      height: 400px;
      border: 30px solid transparent;
    }

    .window-opener-base {
      width: 20px;
      height: 32px;
      top: 48.2%;
      right: -26px;
    }

    .window-opener {
      width: 85px;
      height: 20px;
    }

    .hinges-div {
      left: -9.5%;
      width: 15px;
    }

    .hinge-top {
      height: 25px;
    }

    .hinge-bottom {
      height: 25px;
    }
  }

  @media screen and (min-width: 2040px) {
    .material-window {
      width: 750px;
      height: 550px;
      border: 35px solid transparent;
    }

    .window-opener-base {
      width: 25px;
      height: 40px;
      top: 48.4%;
      right: -30px;
    }

    .window-opener {
      width: 95px;
      height: 25px;
      right: -20px;
    }

    .hinges-div {
      left: -8%;
      width: 20px;
    }

    .hinge-top {
      height: 35px;
    }

    .hinge-bottom {
      height: 35px;
    }
  }

  @keyframes slide-out-top {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  @keyframes putOpenerDown {
    from {
      transform: rotate(0deg);
      transform-origin: right bottom;
    }
    to {
      transform: rotate(-16deg);
      transform-origin: right bottom;
    }
  }

  @keyframes openWindow {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(95deg);
    }
  }

  @keyframes closeWindow {
    0% {
      transform: rotateY(95deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
</style>
